<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<style>
		table {
			border-collapse: collapse;
			width: 100%;
			background-color: #D6EEEE;

		}

		th,
		td {
			text-align: left;
			padding: 8px;
		}
	</style>

<body>

	<div align="center">
		<h1> checkout page</h1>

	</div>


	<table align="center" border="1" cellpadding="10">
		<thead>
		<!-- effect colour of top row -->
			<tr bgcolor="#CF9FFF">
				<td>Order Quantity</td>
				<td> Total Price</td>

			</tr>
		</thead>

		<tbody>
			<td th:text="${orderQuantity}"></td>
			<td th:text="${totalCostWithServiceCharge}"></td>


		</tbody>

	</table>


	5% service charge:
	<p th:text="${serviceCharge}"></p>



	Total Price original value:
	<p th:text="${totalCost}"></p>

	<!-- buttons -->
	<form action="/view-basket">
		<div>

			<input type="submit" value=" return to basket" />
		</div>

	</form>


	<form action="/create_receipt">
		<div>

			<input type="submit" value=" complete order" />
		</div>

	</form>

</body>

</html>