<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<div align="center">
		<h1> checkout page</h1>

	</div>



	total quantiy (testing):
	<p th:text="${orderQuantity}"></p>
	
	total price (testing):
	<p th:text="${totalCost}"></p>






	5% service charge:
	<p th:text="${serviceCharge}"></p>



	Total Price with 5% service charge:
	<p th:text="${totalCostWithServiceCharge}"></p>

	<!-- buttons -->
	<form action="/view-basket">
		<div>

			<input type="submit" value=" return to basket" />
		</div>

	</form>


	<form action="">
		<div>

			<input type="submit" value=" complete order" />
		</div>

	</form>

</body>

</html>