<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

	<style>
		table {
			border-collapse: collapse;
			width: 100%;
			background-color: #D6EEEE;

		}


		tr:hover {
			background-color: #ddd;
		}

		th,
		td {
			text-align: left;
			padding: 8px;
		}
	</style>

</head>

<body>

	<div align="center">
		<h1> order History</h1>
	</div>



	<table align="center" border="1" cellpadding="10">
		<thead>
			<!-- effect colour of top row -->
			<tr bgcolor="#CF9FFF">
				<td>Receipt Code</td>
				<td>Item Quantity</td>
				<td>Date Created</td>
				<td>Total Cost</td>

			</tr>
		</thead>

		<tbody>
			<!-- loop through data like java loop-->
			<tr th:each="receipt : ${receiptsList}">
				<td th:text="${receipt.receiptCode}"></td>
				<td th:text="${receipt.orderQuantity}"></td>
				<td th:text="${receipt.dateCreated}"></td>
				<td th:text="${receipt.totalPriceWithServiceCharge}"></td>

			</tr>
		</tbody>

	</table>

	<!--  button logic-->

	<form action="/">
		<div>

			<input type="submit" value=" return to start screen" />
		</div>

	</form>

</body>

</html>